<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-person-heading">Create or edit a Person</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!person.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="person.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_partyId">Party Id</label>
                    <input type="text" class="form-control" name="partyId" id="field_partyId"
                        [(ngModel)]="person.partyId" required/>
                    <div [hidden]="!(editForm.controls.partyId?.dirty && editForm.controls.partyId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.partyId?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_attributes" ngbTooltip="EMBEDDED">Attributes</label>
                    <input type="text" class="form-control" name="attributes" id="field_attributes"
                        [(ngModel)]="person.attributes" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
