<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="attributeEntity">
            <h2><span>Attribute Entity</span> {{attributeEntity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{attributeEntity.code}}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{attributeEntity.value}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{attributeEntity.type}}</span>
                </dd>
                <dt><span ngbTooltip="EMBEDDED">Metadata</span></dt>
                <dd>
                    <span>{{attributeEntity.metadata}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/attribute-entity', attributeEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
